{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Home Page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>
    <div class="logo">
        <img id='logo' src="{% static 'images/png/Ts.png'%}" alt="">
        <h2>Brand Store</h2>
    </div>
    {% include 'include/navbar.html'%}
    <div>
        {% if request.user.is_authenticated %}
            <p id="login2">Welcome, {{request.user.first_name|default:request.user.username}}</p>
            <a id='login3' href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a id='logout'href="{% url 'login' %}">Log in </a>
        {% endif%}
    </div>
    {% block content %}
        <div>
            <h2 id="pro">MacBook Pro</h2>
            <h2 id="pro2">The superpower of professionals.</h2>
            <img id="Macbook2" src="{% static 'images/jpeg/Macbook.jpg'%}" alt="">
            <h2 id="phone">Iphone 13 Pro</h2>
            <h2 id="text">Just. Unreal.</h2>
            <img id="Iphone" src="{% static 'images/jpeg/Iphone.jpg'%}" alt="">
        </div>
    {% endblock %}
</body>
</html>