<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magliwmat</title>
</head>
<body>
    <input type="text" id="inputValue">
    <button type="button" onclick="knopka();">Search</button>
    <script>
        function knopka() {
            var inputVal=document.getElementById("inputValue").value;
            window.location.href = "http://127.0.0.1:5000/" + inputVal;
        
        }
    </script>
</body>
</html>